.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.equal {
    grid-column: span 2;
}